<div id="header"><a href="#"><i class="fas fa-chevron-left"></i></a>
</div>


<h1 id="title">Order Queue</h1>

<div class="row">
  <div class="column">
    {{#each order}}
    {{#unless fulfilled}}
    <div id="order-card"><span class="categories">Order ID:</span> {{id}}
      <div>
       <span class="categories"> Name on Order:</span> {{name}}
      </div>
      <div>
       <span class="categories"> Total Price: </span> {{total_price}}
      </div>
      <div>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          v Order Items v
        </a>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            Items:
          </div>
        </div>


      </div>
    </div>
    <div>

    </div>
    {{/unless}}
    {{/each}}

  </div>
  <div class="column">
    {{#each order}}
    {{#unless fulfilled}}

    <div id="f-d-buttons">
      {{> orders/order-block fulfilled=false}}{{> orders/order-delete fulfilled=false}}
    </div>
    {{/unless}}
    {{/each}}
  </div>
</div>
<hr>
<h1 id="fulfilled">Past Orders</h1>

<div class="row">
  <div class="column">
    {{#each order}}
    {{#if this.fulfilled}}
    <div id="order-card"><span class="categories">Order ID:</span> {{this.id}}
      <div>
       <span class="categories"> Name on Order:</span> {{this.name}}
      </div>
      <div>
       <span class="categories"> Total Price: </span> {{this.total_price}}
      </div>
      <div>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          v Order Items v
        </a>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            Items:
          </div>
        </div>


      </div>
    </div>
    <div>

    </div>
    {{/if}}
    {{/each}}

  </div>
  <div class="column">
    {{#each order}}
    {{#if this.fulfilled}}

    <div id="f-d-buttons">
      {{> orders/order-block fulfilled=false}}{{> orders/order-delete fulfilled=false}}
    </div>
    {{/if}}
    {{/each}}
  </div>
</div>




  <footer>Footer</footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
       <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script src="/js/index.js"></script>